<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
     <link rel="shortcut icon" href="/" type="image/x-icon">
    <link rel="stylesheet" href="/css/style.css" />
    <title>{{title}}</title>
  </head>
  <body>
    {{>header}}
    <h3>{{errorMessage}}</h3>
  </body>
</html>