<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
 <meta name="viewport" content="width=device-width, initial-scale=1.0,user-scalable=no,maximum-scale=1.0 "/>
    <link rel="icon" href="/" type="image/x-icon">
    <link rel="stylesheet" href="/css/style.css" />
    <title>{{title}}</title>
  </head>
  <body>
    {{>header}}
    <h3>Get Weather Forecast Of A Location</h3>
    <form>
      <input type="text" id="inp" placeholder="Location" />
      <button type="submit" id="btn">Get</button>
    </form>
    <p id="msg-1"></p>
    <p id="msg-2"></p>
  </body>
    <script>
const weatherForm = document.querySelector("form");
const search = document.querySelector("#inp");
const messageOne = document.querySelector("#msg-1");
const messageTwo = document.querySelector("#msg-2");

weatherForm.addEventListener("submit", (e) => {
  e.preventDefault();

  const location = search.value;

  messageOne.textContent = "Loading...";
  messageTwo.textContent = "";

  fetch(`/weather?address=${location}`).then(
    (response) => {
      response.json().then(({ error, forecast, address }) => {
        if (error) {
          messageOne.textContent = error;
        } else {
          messageOne.textContent = address;
          messageTwo.textContent = `The Temperature Is ${forecast.main.temp} And It Feels Like Its ${forecast.main.feels_like} Outside`;
        }
      });
    },
  );
});

    </script>
</html>
