* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: #333333;
  max-width: 650px;
  margin: 5rem auto 0 8rem;
  padding: 0 16px;
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 70vh;
}

.nav {
  margin-bottom: 2rem;
}

.title {
  font-size: 64px;
  margin-bottom: 16px;
  text-align: left;
}

.linked {
  color: #4e4b2c;
  transition: 800ms ease-in-out;
}

.link {
  color: #6c6e4b;
  margin-right: 16px;
  transition: 800ms ease-in-out;
}

.link:hover,
.linked:hover {
  border-bottom: #2e3961 2px solid;
  text-decoration: none;
  color: #888888;
}

#msg-1,
#ms-2,
p {
  padding: 0.5rem 0;
  font-size: large;
  text-align: left;
  margin: 0 0.5rem;
}

form {
  padding: 1rem 0;
}

#inp {
  padding: 0.5rem 0.9rem;
  border: 2px solid #2e3961;
  border-radius: 5px;
  outline: 1px solid #e6e6e6;
}

#btn {
  background-color: #405cf5;
  border-radius: 6px;
  border: none;
  color: #fff;
  cursor: pointer;
  height: 40px;
  padding: 0 25px;
  position: relative;
  text-align: center;
  transform: translateZ(0);
  transition: all 0.2s, box-shadow 0.08s ease-in;
  user-select: none;
  -webkit-user-select: none;
}

@media screen and (max-width: 600px) {
  body {
    margin: 0.5rem;
    transition: 1s ease;
  }
}
